<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DS Scoped Presence Test</title>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/deepstream.io-client-js/2.0.0/deepstream.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">


					<div v-if="!loggedIn">
						<h1>Login</h1>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" placeholder="Username" v-model="loginUsername">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password" v-model="loginPassword">
						</div>
						<button type="button" class="btn btn-primary" @click="login()">Login</button>
					</div>


					<div v-else>
						<h1>Logged in as {{ myData.username }}</h1>

						<button type="button" class="btn" @click="logout()">Logout</button>
						<button type="button" class="btn btn-primary" @click="joinChat(myData.username)">Join own chat</button>

						<div v-if="myData.role === 'agent'">
							<br>
						  	<div class="input-group">
						      <input type="text" class="form-control" placeholder="Username to join" v-model="joiningChatName">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" @click="joinOtherChat">Join other Chat</button>
						      </span>
						    </div>
						</div>

						<hr>

						<div>
							<h2>Chat Users</h2>
							<ul class="list-group">
							  <li v-for="info,username in presenceRecordContent" 
							  	  class="list-group-item"
							  	  :class="{'list-group-item-success': info.online, 'list-group-item-danger': !info.online}">
							  	  {{ username }}
							  </li>
							</ul>
						</div>

						<div>
							<h2>Presence Provider</h2>
							<div v-if="presenceRecord.hasProvider" class="alert alert-success">Presence record has an active data provider</div>
							<div v-if="!presenceRecord.hasProvider" class="alert alert-danger">Presence record has <b>no</b> active data provider</div>
						</div>

						<hr>

						<h1>Raw Data</h1>
		
						<div>
							<h2>Presence Record Content</h2>
							<pre>
								{{ presenceRecordContent }}
							</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src='app.js'></script>
</body>
</html>